@model Vidly.ViewModels.CustomersViewModel

@{
    Layout = null;
}

@if(Model.Customers.Count == 0)
{
    <p>There are no customers in the database.</p>
}

@foreach(var customer in Model.Customers)
{
    <ul>
        <li>
            @Html.ActionLink(customer.Name, "Details", "Movies", new { id = customer.Id }, null)
        </li>
    </ul>
}