@model System.Collections.Generic.List<Vidly.Models.Movie>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Add bootstrap button to create new movie that redirect to add new movie view *@
<p>
    @Html.ActionLink("Add New Movie", "AddNewMovie", "Movies", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Movie Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name,"Edit","Movies",new{id = movie.Id})</td>
            <td>@movie.Genre</td>
        </tr>
    }
    </tbody>
</table>
