@model Vidly.ViewModels.MoviesViewModel

@{
    Layout = null;
}
@foreach (var movie in Model.Movies)
{
    <ul>
        <li>
           <a href=""> @movie.Name</a>
        </li>
    </ul>
}